* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5vh;
    font-family: "montserrat", sans-serif;
}

main {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);

    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    align-items: center;

    width: 400px;
    padding: 60px;
    border-radius: 10px;
}

h2 {
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-weight: 400;
    line-height: 32px;
}

hr {
    border: none;
    border-bottom: 1px solid var(--cor-primaria);
    margin-bottom: 20px;
}

.mensagem-lista-vazia{
    color: gray;
}

p {
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.input-item {
    display: block;
    padding: 12px 16px;
    border-radius: 10px;
    border-color: grey;
    border: 1px solid;
    width: 307px;
}

.input-item::placeholder {
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    line-height: 19px;
}

.button-item {
    padding: 10px 10px;
    border-radius: 10px;
    background-color: grey;
    color:white;
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
    border: none;
}
.button-item:hover{
    background-color:rgb(116, 116, 116);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.lista-item-container {
    display: flex;
    gap: 8px;
}

.botao-excluir {
    background-color: transparent;
    color: grey; 
    border: none;
    padding: 4px 6px;  
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.botao-excluir:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}


ul {
    list-style-type: none;
}

.input-checkbox {
    display: none;
}

.checkbox-customizado {
    width: 20px;
    height: 20px;
    background-color: var(--neutro);
    border: 1px solid var(--preto);
    cursor: pointer;
    border-radius: 4px;
}

.checked {
    background-color: var(--preto);
    position: relative;
}

.checkbox-customizado.checked::after {
    content: "";
    position: absolute;
    left: 30%;
    top: -10%;
    width: 5px;
    height: 14px;

    border-top: 2px solid var(--neutro);
    border-left: 2px solid var(--neutro);

    transform: rotate(-140deg);
}

.texto-data {
    font-size: 12px;
    line-height: 20px;
}

.item-lista-button {
    border: none;
    background-color: transparent;
}

.container-lista {
    width: 100%;
}

/* Responsividade */
@media (max-width: 1024px) {
    main {
        width: 80%; /* Ajusta para tablets */
    }

    h2 {
        font-size: 26px; /* Reduz o tamanho dos títulos */
    }

    p {
        font-size: 16px;
    }

    .input-item {
        width: 80%; 
    }
    .input-item::placeholder {
        font-family: "Montserrat", sans-serif;
        font-size: 13px;
        line-height: 19px;
    }
}

@media (max-width: 768px) {
    body {
        padding-top: 5vh; /* Ajusta o espaçamento para telas menores */
    }

    main {
        width: 90%; /* Ajusta para dispositivos móveis */
        padding: 32px;
    }

    h2 {
        font-size: 22px;
    }

    p {
        font-size: 14px;
    }

    .input-item {
        width: 100%;
    }
}

@media (max-width: 480px) {
    h2 {
        font-size: 19px;
        line-height: 24px;
        color: black;
    }

    p {
        font-size: 12px;
        text-align: center; /
    }

    .button-item {
        font-size: 14px; /
    }

    .input-item {
        padding: 12px 12px;
    }
}
